# basic auth credentials
API_USER=admin
API_PASSWORD=admin
# bearer token for authentication key
SIMETRIC_KEY=your-32-character-simetric-key
# server url and port
URL_SERVIDOR=http://localhost:80
PORT=80
# cleanup settings for temporary PDF files
PDF_CLEANUP_FILE_MAX_AGE_MINUTES=5
PDF_CLEANUP_INTERVAL_MINUTES=60